body, html {
    font-family: Arial, sans-serif;
    color: white;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('gif_fire.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 2px;
    margin-top: 20px;
    max-width: 400px;
}

.button {
    width: 50px;
    height: 50px;
    background-color: #8B4513; /* Marrom */
    color: white;
    border: none; /* Remove a borda */
    border-radius: 10px; /* Adiciona cantos arredondados */
    font-size: 16px;
}

.button.red {
    background-color: #ff0000;
    color: black;
}

.button.blue {
    background-color: #36d0ff;
    color: black;
}

.button.green {
    background-color: #65ff36;
    color: black;
}

.button.purple {
    background-color: #de36ff;
    color: black;
}

.button-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 16px;
}

.appear-btn, .reset-btn {
    flex-grow: 1; /* Faz ambos os botões crescerem igualmente, ocupando o espaço disponível */
    margin: 0 5px; /* Adiciona um pequeno espaçamento entre os botões */
}

.appear-btn img, .reset-btn img {
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites do botão */
}
