body, html {
    font-family: Arial, sans-serif;
    color: white;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('gif_fire.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 2px;
    margin-top: 20px;
    max-width: 400px; /* Adiciona uma largura máxima à grade para evitar que se estenda indefinidamente em telas grandes */
}

.button {
    width: 50px;
    height: 50px;
    background-color: #8B4513; /* Marrom */
    color: white;
    border: none; /* Remove a borda */
    border-radius: 10px; /* Adiciona cantos arredondados */
    font-size: 16px;
}

.button.red {
    background-color: #ff0000;
    color: black;
}

.reset-btn {
    margin-top: 20px;
    font-size: 16px;
}
